<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {% if
    site.gh_edit_link and
    site.gh_edit_link_text and
    site.gh_edit_repository and
    site.gh_edit_branch and
    site.gh_edit_view_mode
    %}
    <li class="aux-nav-list-item">
      <a class="site-button" href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
    </li>
    {% endif %}
  </ul>
</nav>
