<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body style="width: 100%; height: 100%; margin: 0; padding: 0">

  <div style="position:absolute;z-index:100;right:20px;top:0;height: 100px;width:264px;">
    <div class="page-wrap">
      <!-- custom change: height: auto -->
      <div class="side-bar" style="height:60px; width:200px; min-width:100px;">
        {% assign pages_list = site.html_pages | sort:"nav_order" %}
        {% for node in pages_list %}
          {% if page.parent == node.title %}
            <a href="{{ site.baseurl }}{{ node.url }}" class="site-title fs-6 lh-tight" style="padding:5px">&laquo; Back to doc</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- custom change content in new div closer to root -->
  {{ content }}

</body>
</html>
