<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>

  <div class="page-wrap">
    <div class="side-bar" style="height: auto;">
        {% assign pages_list = site.html_pages | sort:"nav_order" %}
        {% for node in pages_list %}
          {% if page.parent == node.title %}
            <a href="{{ site.baseurl }}{{ node.url }}" class="site-title fs-6 lh-tight">&laquo; {{ node.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    <div class="main-content-wrap js-main-content" tabindex="0">
      <div class="main-content">
        <div class="page-header js-page-header">
          {% if site.search_enabled != false %}
          <div class="search">
            <div class="search-input-wrap">
              <input type="text" class="js-search-input search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
              <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
            </div>
            <div class="js-search-results search-results-wrap"></div>
          </div>
          {% endif %}
          <!-- custom change: replace the ext link nav by the link to edit on Github -->
          <ul class="list-style-none text-small aux-nav">
              <li class="d-inline-block my-0 mr-2"><a href="//github.com/France-ioi/algorea-devdoc/edit/master/{{ page.path }}">Edit this page on Github</a></li>
          </ul>
        </div>
      </div>
      {{ content }}
    </div>
  </div>

</body>
</html>
